<!DOCTYPE HTML>

<html>

<head>
  <title>students javab</title>
</head>

<body>
<h1>javab haye daneshjoyan</h1>
        <table style="background:rgb(184, 184, 184)" boarder="10">


            <tr style="background:rgb(114, 114, 114)">
                <td>student number</td>
                <td>date</td>
                <td>file</td>
                <td>max=100</td>
            </tr>
                    
         {% for j in javab %}       
            <tr >
                <td>{{ j.number }}</td>
                <td>{{ j.deadline }}</td>
                <td><a href="/{{j.file}}" > download </a></td>
                <td>{{ j.vote }}</td>
            </tr>
        {% endfor %}

        </table>
</body>

</html>

