
<html>

  <head>
    <title>ostads_tamrin</title>
  </head>
  
  <body>
              <h1> ostad---safhe tamrin ha </h1>
              <h5 >  <a href="{% url 'home' %}"  >>>home <a> </h5>
              <h2 >  <a href="{% url 'ostads_tamrin_upload' %}" >1-upload tamrin jadid: <a> </h2>
              <h3><br/>2-tamrin haye upload shode:</h3>
                <p  wigth = '100%'>
                <ol >
                  {% for file in tamrin %}
                      
                        <li> <a href="{% url 'ostads_tamrin_javab' file.id %}" >{{ file.name }} <a> </li>
                      
                  {% endfor %}
                </ol>
                </p>
  </body>
  
  </html>