<html>

<head>
  <title>students_tamrin</title>
</head>

<body>
            <h1> students--safhe tamrin ha</h1>
            <h5 >  <a href="{% url 'home' %}"  >>>home <a> </h5>
            <h2 >  <a href="{% url 'student_tamrin_upload' %}"  >upload javabe tamrin(Click): <a> </h2>
            <h3> tamrin haye upload shode osrad:</h3>
              <p  wigth = '100%'>
              <ol >
                {% for file in tamrin %}
                    
                      <li> <a href="/{{file.file}}" >{{ file.name }} <a> </li>
                    
                {% endfor %}
              </ol>
              </p>
</body>

</html>